<!DOCTYPE html>

<html>
  <head>
    <title><%- table_name %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/add.css" />

    <link rel="stylesheet" href="/style_park.css" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">

          <table class="flametable">
            <tr>
              <td colspan="2">
                <div id="container" class="row">
                  <div class="col-1 col-12-small">
                    <video id="local_video" class=" membersvideo" autoplay></video>
                    <p class="membername"><%- user_name %></p>
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-1 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <!--
                  <div class="col-3 col-12-small">
                    <video id="local_video" class=" membersvideo" autoplay></video>
                    <p class="membername"><%- user_name %></p>
                  </div>
                  <div class="col-3 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-3 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-3 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-3 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-3 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-3 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  <div class="col-3 col-12-small blankVideo">
                    <img
                      src="/assets/images/dummy.png"
                      class="dummyvideo"
                    />
                  </div>
                  -->
                </div>
              </td>
            </tr>
            <tr>
              <td class="leftarea">
                <div class="chatarea" id="chatscrollarea">
                  <ul id="chatapp">
                    <template v-for="item in contents">
                      <li class="">{{ item.text }}</li>
                    </template>
                  </ul>
                </div>
              </td>
              <td class="rightarea" id="app">
                <div class="">
                  <nav class="">
                    <header class="major">
                      <h2 class="user_list"><%- table_name %>（{{ loginmembers.length + 1 }}人）</h2>
                    </header>
                  </nav>
                  
                  <ul>
                    <li><%- user_name %></li>
                    <li v-for="member in loginmembers" :key="member.user_id">
                      {{ member.user_name }}
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            

                
              
          </table>

          <div class="col-12 footerfixarea">
            <form class="chatform" onsubmit="return sendChat();">
              <div class="row">
                <div class="col-8">
                  <input
                      type="text"
                      id="input_msg"
                      placeholder="Enterで送信"
                      autocomplete="off"
                      class="chat-input"
                    />
                </div>
                <div class="col-4">
                  <ul>
                    <li class="button primary" id="startbutton"><i class="fas fa-video"></i></li>
                    <li class="button hidden" id="stopbutton"><i class="fas fa-video-slash"></i></li>
                    <li class="button primary hidden" id="unmutebutton"><i class="fas fa-microphone"></i></li>
                    <li class="button" id="mutebutton"><i class="fas fa-microphone-slash"></i></li>
                  </ul>

                  <a id="startbutton" class="fab" href="#">
                    <i class="fas fa-video"></i>
                  </a>
                  <a id="stopbutton" class="fab hidden" href="#">
                    <i class="fas fa-video-slash"></i>
                  </a>
                  <a id="unmutebutton" class="fab hidden" href="#">
                    <i class="fas fa-microphone"></i>
                  </a>
                  <a id="mutebutton" class="fab" href="#">
                    <i class="fas fa-microphone-slash"></i>
                  </a>

                </div>
              </div>
            </form>
          </div>

        </div>
      </div>

      <!-- サイドバー -->
      <div id="sidebar">
        <div class="inner" >
          <!-- Search -->

          <nav id="menu">
            <header class="major">
              <h2><%- table_name %></h2>
            </header>
            
            <ul>
              <% roomlist.forEach(function(value, key){ %>
                <li onclick="jumpOtherRoom('<%= value.roomname %>'); return false;"><a><%= value.roomname %></a></li>
              <% }) %>
              </ul>
            
          </nav>
          
          <!-- Footer -->
          <footer id="footer" class="sidefooter">
            <p class="copyright">
              &copy; AIFORUS.Inc All rights reserved. :
              <a href="https://aiforus.co.jp/">https://aiforus.co.jp/</a>. 
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- リソースなど -->
    <div class="hidden">
      <input id="table_id" value="<%- table_id %>" />
      <input id="user_name" value="<%- user_name %>" />
    </div>
    <audio id="se" preload>
      <source
        src="https://cdn.glitch.com/8f09de38-a9c6-48f9-8633-252d0280a419%2Fse_maoudamashii_onepoint22.mp3?v=1589963341824"
        type="audio/mp3"
      />
    </audio>

    <!-- Scripts -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-seamless-scroll@1.1.17/dist/vue-seamless-scroll.min.js"></script>
    <script src="/script_park.js"></script><!--  -->
  </body>
</html>
