<!DOCTYPE html>

<html>
  <head>
    <title><%- table_name %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />

    <link rel="stylesheet" href="/test_style_park.css" />

    <link
      href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <div id="container" class="videoArea">
            <div id="videoSlider">
              <div class="videoWrapper">
                <video id="local_video" class="membersvideo" autoplay></video>
                <p class="membername"><%- user_name %></p>
                <p id="playbutton">
                  <i class="far fa-play-circle"></i>
                </p>
              </div>
            </div>
          </div>
          <table class="flametable">
            <tr>
              <td class="leftarea">
                <div class="chatarea" id="chatscrollarea">
                  <ul id="chatapp">
                    <template v-for="item in contents">
                      <li v-bind:class="item.chat_color">{{ item.text }}</li>
                    </template>
                  </ul>
                </div>
              </td>
              <td class="rightarea" id="app">
                <div class="">
                  <nav class="">
                    <header class="major">
                      <h2 class="user_list">
                        <%- table_name %>（{{ loginmembers.length + 1 }}人）
                      </h2>
                    </header>
                  </nav>

                  <!--
                  <ul>
                    <li><%- user_name %></li>
                    <li v-for="member in loginmembers" :key="member.user_id">
                      {{ member.user_name }}
                    </li>
                  </ul>
                  -->
                  <ul>
                    <li id="userlist_myname"><%- user_name %></li>
                    <template v-for="member in loginmembers">
                      <li v-bind:id="'userlist_' + member.user_id">
                        {{ member.user_name }}
                      </li>
                    </template>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="pdg0">
                <div id="mini-balloon" class="mini-balloon hidden"></div>
                <div id="palette-balloon" class="palette-balloon hidden">
                  <div class="palette-inner">
                    <div id="ink-black" class="ink-circle ml30 ink-black"></div>
                    <div id="ink-red" class="ink-circle ml5 ink-red"></div>
                    <div id="ink-blue" class="ink-circle ml5 ink-blue"></div>
                    <div id="ink-green" class="ink-circle ml5 ink-green"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="inputtr">
              <td colspan="2">
                <div class="col-12">
                  <form class="chatform" onsubmit="return sendChat2();">
                    <div class="row">
                      <div class="col-4">
                        <!--
                        <ul>
                          <li class="button primary" id="startbutton">
                            <i class="fas fa-video"></i>
                          </li>
                          <li class="button hidden" id="stopbutton">
                            <i class="fas fa-video-slash"></i>
                          </li>

                          <li class="button primary hidden" id="unmutebutton">
                            <i class="fas fa-microphone"></i>
                          </li>
                          <li class="button" id="mutebutton">
                            <i class="fas fa-microphone-slash"></i>
                          </li>
                        </ul>
                        -->

                        <span class="fab fab-green hidden" id="unmutebutton">
                          <i class="fa fa-microphone"></i>
                        </span>
                        <span class="fab fab-disable hidden" id="mutebutton">
                          <i class="fa fa-microphone"></i>
                        </span>
                        <span
                          class="fab fab-palette fab-rainbow"
                          id="colorselectbutton"
                        >
                          <span id="palette-icon">
                            <i class="fas fa-palette"></i>
                          </span>
                        </span>
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          id="input_msg"
                          placeholder="Enterで送信"
                          autocomplete="off"
                          class="chat-input"
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- サイドバー -->
      <div id="sidebar">
        <div class="bgImage">
          <div class="inner">
            <div class="roundclearbox">
              <nav id="roomlist">
                <header class="major">
                  <h2 onclick="sendTest();">
                    <%- table_name %>　<i
                      class="fas fa-sync-alt"
                      id="updateRoomlist"
                    ></i>
                  </h2>
                </header>

                <ul>
                  <template v-for="cat in categorylist">
                    <li
                      v-on:click="setCategory(cat.category_id);"
                      v-bind:value="cat.category_id"
                    >
                      {{ cat.category_name }}
                    </li>
                  </template>
                </ul>

                <ul>
                  <template v-for="room in sortedRoomlist">
                    <li
                      v-on:click="jumpRoom($event); return false;"
                      v-bind:value="room.room_name"
                    >
                      {{ room.room_name }}
                    </li>
                  </template>
                </ul>
              </nav>
            </div>

            <!-- Footer -->
            <footer id="footer" class="sidefooter">
              <div class="removebutton" id="removebutton">
                <p><i class="fas fa-sign-out-alt"></i>ばいちゃ！</p>
              </div>
              <p class="copyright">
                &copy; AIFORUS.Inc All rights reserved. :
                <a href="https://aiforus.co.jp/">https://aiforus.co.jp/</a>.
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <!-- リソースなど -->
    <div class="hidden">
      <input id="table_id" value="<%- table_id %>" />
      <input id="user_id" value="" />
      <input id="user_name" value="<%- user_name %>" />
      <input id="chat_color" class="text-black" />
    </div>
    <audio id="alert_se" preload>
      <source src="assets/sound/login.mp3" type="audio/mp3" />
    </audio>
    <audio id="mic_switch_on_se" preload>
      <source src="assets/sound/mic_switch_on.mp3" type="audio/mp3" />
    </audio>
    <audio id="mic_switch_off_se" preload>
      <source src="assets/sound/mic_switch_off.mp3" type="audio/mp3" />
    </audio>

    <!-- Scripts -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-seamless-scroll@1.1.17/dist/vue-seamless-scroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/test_script_park.js"></script>
    <!--  -->
  </body>
</html>
